body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    background-color: #dddddd;

    .app{
      display: flex;
      flex-flow: column nowrap;
      margin: auto;
      padding-bottom: auto;
      background-color: #ececec;
      max-width: 80ch;
      padding: 25px;

      h1{
        font-size: 2.5em;
      }

      h2{
        font-size: 2em;
      }
      .view-btn {
        width: 150px;
        float: right;
        margin-left: auto;
        margin-top: 25px;
      }
    }
  }